* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./library.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

legend {
  margin: 0 auto;
  color: #fff;
  font-size: 20px;
}

fieldset {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  padding: 10px 40px;
  padding-bottom: 17px;
}

.add-book-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  margin-left: 5px;
  border-radius: 5px;
  padding: 6px;
}

.checkbox {
  cursor: pointer;
}

.checkbox:checked {
  /* appearance: none; */
  background-color: #ff0000;
  border-color: #14cc95;
}

.submit-button {
  background-color: #eff0ac;
  margin-left: 5px;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background: #14cc95;
  transition: 0.5s;
}

.error {
  color: red;
  font-size: 25px;
}

table {
  margin: 0 auto;
  margin-top: 30px;
  font-size: 20px;
  border-radius: 10px;
  text-align: center;
}

th {
  background: #14cc95;
  color: #fff;
  text-shadow: 0 2px 2px #2d2020;
  padding: 10px 20px;
}

th,
td {
  border: 1px solid rgb(192, 186, 186);
}

th:first-child,
td:first-child {
  text-align: left;
}

th:first-child {
  border-top-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 10px;
}

td {
  padding: 10px 20px;
  background: #eff0ac;
}

.button-inner {
  display: flex;
  justify-content: center;
}

.gradient-button,
.delete-button {
  margin-top: 10px;
  color: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #eff0ac 0%, #14cc95, #eff0ac);
  cursor: pointer;
}

.delete-button {
  margin-left: 10px;
  background-image: none;
  background-color: rgba(0, 0, 0, 0.7);
}

gradient-button:hover {
  background-position: right center;
}

.spinner {
  height: 50px;
  width: 50px;
  margin-top: 150px;
  border-left: 5px solid greenyellow;
  border-bottom: 5px solid greenyellow;
  border-right: 5px solid greenyellow;
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button:disabled {
  filter: brightness(0.5);
  cursor: default;
}
