#right-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 100px;
  right: 0;
  background: #14cc95;
  min-width: 30px;
  min-height: 40px;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 5px;
}

#hidden-panel {
  position: fixed;
  top: 100px;
  right: -200px;
  background: #eff0ac;
  color: #000;
  min-width: 200px;
  min-height: 150px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  transition: 0.2s;
}
#right-panel:hover {
  right: 200px;
}
#right-panel:hover #hidden-panel {
  right: 0;
}
